<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Management System</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <br>
    <br>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
        <h1 class="text-center">Login</h1>
        <div th:if="${param.emailWrong}">
          <div class="alert alert-info">Email have not already existed</div>
        </div>
        <div th:if="${param.passwordWrong}">
          <div class="alert alert-warn">Password wrong</div>
        </div>
        <div class="card-body">
          <form th:action="@{/login}" method="post" th:object="${userdto}">
            <div class="form-group">
              <input
                      name="email"
                      th:filed="email"
                      type="text"
                      class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <input
                      name="password"
                      th:filed="password"
                      type="password"
                      class="form-control" placeholder="Password">
            </div>
            <div class="form-group mb-3">
              <button type="submit" class="btn btn-primary">Login</button>
              <a href="/" th:href="@{/registration}">Sign up here</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>